<style>
  .nav-pills-center{
  text-align: center;
}

.nav-pills-center > li{
  float: none;
  display: inline-block;
  margin-bottom:  10px;
}

</style>
 
<div class="container">

 <ul class="nav nav-pills nav-pills-center">
    <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
    <% @categories.each do |category| %>
      <li role="presentation" class="<%="active" if category == @category %>">
        <%= link_to category.name, category_path(category) %></li>
    <%end%>
 </ul>

<!-- _restaurant_list.html.erb -->
 <%= render partial: "share/restaurant_list" %>

</div>